<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088442492980-f334r204e5b9q93j8d84ssjj2fbhcfb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088442492980-f334r204e5b9q93j8d84ssjj2fbhcfb0</string>
	<key>API_KEY</key>
	<string>AIzaSyCWmRm2gh-HHS27UwRPu60sjviIWQRytdY</string>
	<key>GCM_SENDER_ID</key>
	<string>1088442492980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edwin.doorrush</string>
	<key>PROJECT_ID</key>
	<string>doorush-5a724</string>
	<key>STORAGE_BUCKET</key>
	<string>doorush-5a724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088442492980:ios:4cbea2da8a4b84c7764261</string>
	<key>DATABASE_URL</key>
	<string>https://doorush-5a724.firebaseio.com</string>
</dict>
</plist>